.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 80px 40px;
  overflow: hidden;
}
.header__title {
  max-width: 709px;
  font-weight: 500;
  font-size: 68px;
  line-height: 72px;
  letter-spacing: -1px;
  margin: 0 0 28px;
  z-index: 2;
  position: relative;
}

.header__title-main {
  display: block;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 80px;
  z-index: 2;
  position: relative;
}

.header__image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 646px;
  height: 568px;
  z-index: 1;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #6f6f6f;
  position: relative;
  z-index: 2;
}

.header__paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 5px;
}

.header__address .header__paragraph {
  margin-bottom: 0;
}
