* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page {
  font-family: "Inter", Arial, sans-serif;
  color: #000000;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 80px 40px;
  overflow: hidden;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.nav__logo {
  position: relative;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav__link {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__title {
  max-width: 709px;
  font-weight: 500;
  font-size: 68px;
  line-height: 72px;
  letter-spacing: -1px;
  margin: 0 0 28px;
  z-index: 2;
  position: relative;
}

.header__title-main {
  display: block;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 80px;
  z-index: 2;
  position: relative;
}

.header__image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 646px;
  height: 568px;
  z-index: 1;
}

.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #6f6f6f;
  position: relative;
  z-index: 2;
}

.header__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 5px;
}

.header__address .header__text {
  margin-bottom: 0;
}

.recipes {
  background-color: #0a2850;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 80px;
  color: #ffffff;
}

.recipes__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 0 24px;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 80px;
  max-width: 438px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.recipes__video-item {
  display: flex;
  flex-direction: column;
  width: 480px;
}

.recipes__iframe {
  border: none;
  width: 100%;
  height: 270px;
  margin-bottom: 24px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
